{% extends 'admin/base.html' %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/editormd.min.css')}}">
{% endblock %}


{% block body %}
{% include "_aside.html" %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
    <div class="row">
        <form action="{{ url_for('admin.add_article') }}" method="POST" class="add-article-form">

            <div class="col-md-12">
                <h1 class="page-header">撰写新文章</h1>
                <div class="form-group">
                    <label class="sr-only">标题</label>

                    {{ form.hidden_tag() }}
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label class="sr-only">内容</label>

                    <div id="test-editormd" class="form-control">
                        {{ form.body }}
                    </div>
                </div>
                <div class="add-article-box">
                    <h2 class="add-article-box-title"><span>标签</span></h2>
                    <div class="add-article-box-content">
                        {{ form.keywords }}
                        <span class="prompt-text">请务必选择一个合适的标题。</span>
                    </div>
                </div>
                {{ form.csrf_token }}
                {{ form.submit }}
            </div>
        </form>


        {% include "_add_article_footer.html"%}
        {% endblock %}