{% extends 'admin/base.html' %}
{% import "_paginated.html" as pg %}

{% block body %}
{% include "_aside.html" %}
{% include "_header.html" %}
<h1 class="page-header">管理 <span class="badge">{{ articles.items| count()}}</span></h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                    <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                    <th><span class="glyphicon glyphicon-user"></span> <span class="visible-lg">作者</span></th>
                    <th class="hidden-sm"><span class="glyphicon glyphicon-tag"></span> <span
                            class="visible-lg">标签</span></th>
                    <th class="hidden-sm"><span class="glyphicon glyphicon-flag"></span> <span
                            class="visible-lg">评论</span></th>
                    <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                    <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles.items %}
                <tr>
                    <td><input type="checkbox" class="input-control" name="checkbox[]" value=""/></td>
                    <td class="article-title">{{ article.title }}</td>
                    <td>{{ article.author.name }}</td>
                    <td class="hidden-sm">
                        {% for tag in article.tags %}
                        {{ tag.name }}
                        {% endfor %}
                    </td>
                    <td class="hidden-sm">{{article.post_views}}</td>
                    <td>{{article.create_time}}</td>
                    <td><a href="#">修改</a> <a href="{{ url_for('admin.delete_post',post_id=article.id) }}">删除</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <footer class="message_footer">
            <nav>
                <div class="btn-toolbar operation" role="toolbar">
                    <div class="btn-group" role="group"><a class="btn btn-default" onClick="select()">全选</a> <a
                            class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default"
                                                                                  onClick="noselect()">不选</a></div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                                title="删除全部选中" name="checkbox_delete">删除
                        </button>
                    </div>
                </div>

                {{ pg.page(articles, 'admin.article') }}

            </nav>
        </footer>
    </form>
</div>
</div>
</section>
<script>
    //是否确认删除
    $(function () {
        $("#main table tbody tr td a").click(function () {

            if (event.srcElement.outerText == "删除") {
                var url = $(this).attr('href');
                url = url + '?ajax=true';

                if (window.confirm("此操作不可逆，是否确认？")) {

                    $.ajax({
                        type: 'DElETE',
                        url: url,
                        cache: false, //不缓存此页面
                        success: function (data) {
                            window.location.reload();
                        }
                    });
                }
                ;
            }
            ;
        });
    });
</script>

{% endblock %}
